@media (min-width: 768px) {
    #featured-container,
    #menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3.5rem;
    padding: 20px;
    }
}
