body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr auto
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}