* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #1a344d;
  --secondary-color: #9aa8af;
  --accent-color: #6556ee;
  --light-color: #ffffff;
  --text-light: #ffffff;
  --background-color: #f4f6f8;
  --text-color: #222;
  --border-radius: 8px;
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

main h1 {
    paddiing: 1.5rem 0;
    border-bottom: 2xp solid var(--accent-color)        ;
}

header {
  background-color: var(--secondary-color);
  color: var(--light-color);
    padding-top: 10px;
  text-align: center;
}

header h1 {
    color: var(--light-color);
}

nav {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--primary-color);
    padding: 15px;
}

nav ul {
    list-style: none;
    display: none;
    padding: 0;
}

nav a {
    display: block;
    color: var(--light-color);
    text-align: center;
    padding: 1 rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #fff;
}

#menuBtn {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

nav ul.open {
  display: block;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.temple-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

figure {
    background-color: white;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.1);

    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--text-color);
}

footer {
  background-color: #1f4e79;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
}